@layout('app')

@section('page')
  <form action="{{ route('PostsController.store') }}" method="POST">
    <div>
      <label for="title">Title</label>
      <input name="title" type="text">
    </div>

    <div>
      <label for="content">Content</label>
      <textarea name="content"></textarea>
    </div>

    <button type="submit">Create</button>
  </form>
@endsection
