@layout('app')

@section('page')
  <form action="{{ route('PostsController.update', { params: { id: post.id } }) }}?_method=PUT" method="POST">
    <div>
      <label for="title">Title</label>
      <input name="title" type="text" value="{{ post.title }}">
    </div>

    <div>
      <label for="content">Content</label>
      <textarea name="content">{{ post.content }}</textarea>
    </div>

    <button type="submit">Update</button>
  </form>
@endsection
